body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
    background-image: url("background.jpg");
    background-size:cover;
    font-family: 'Courier New', monospace;
}

section {
    font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.team {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.player-list {
  list-style: none;
  padding: 0;
}

.player {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.player img {
  width: 100%;
  max-width: 150px;
  cursor: pointer;
}

.player p {
  margin: 5px 0;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}